<!-- header -->
<!--<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons *ngIf="from !== 'discover'" end>
      <button ion-button icon-only color="royal" (click)="more($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->

<!-- contenu -->
<!--<ion-content padding>
  <ion-list>
    <ion-item>
      <h2>{{title}}</h2>
      <img src="{{'https://collectionback-bricebricebricemmi.c9users.io/images/' + image}}">
      <ion-list *ngFor="let item of datas">
        <ion-item>
          <h3>{{item.title}}</h3>
          <p>{{item.data}}</p>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>-->

<!-- header -->
<ion-header>
    <ion-navbar>
      <ion-title>{{title}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="more($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header> 
  
  <!-- contenu -->
  <ion-content>
      <ion-list-header text-center>
        <br>
        <h1>{{title}}</h1>
        <br>
      </ion-list-header>
    <ion-list>
      <ion-item>
        <img src="{{'https://collectionback-bricebricebricemmi.c9users.io/images/' + image}}">
      </ion-item>
    </ion-list>
    <ion-list *ngFor="let item of datas">
      <ion-item>
          <h3>{{item.title}}</h3>
          <p>{{item.data}}</p>
        </ion-item>
    </ion-list>
      
  </ion-content> 

  