/* iOS */

.platform-ios page-profile {
    ion-content {
        background-color: #f7f7f7;


        .logOutBtn ion-label {
            margin: 0;
        }

    }

}

/* Android */
.platform-android page-profile {

}

/* Commun */
page-profile {

    ion-avatar > img {        
        margin-left: auto;
        margin-right: auto;     
        width: 100% !important;  
        height : 100% !important;  
        max-width: 100px !important;
        max-height: 100px !important; 
    }
    
    ion-list-header h1 {
        margin-top: 10px !important;
    }

    .text-input[disabled] {
        opacity: 1;
    }
}
