/* iOS */

.platform-ios page-profile-edit {
    ion-content {
        background-color: #f7f7f7;

    }

}

/* Android */
.platform-android page-profile-edit {

}

/* Commun */
page-profile-edit {

    ion-avatar > img {        
        margin-left: auto;
        margin-right: auto;     
        width: 100% !important;  
        height : 100% !important;  
        max-width: 100px !important;
        max-height: 100px !important; 
    }

                    
    .input-cover {
        display: none !important;
    }

}


